/* * {
  margin: 0;
  padding: 0;
  font-size: 35px;
  font-family: Helvetica;
}
#title {
  font-family: "Orbitron";
  font-size: 40px;
}
.calc {
  width: 324px;
  margin: auto;
  background-color: #39383d;
  padding: 20px;
  border-radius: 8px;
}
.calculator-display {
  width: 100%;
  height: 75px;
  border: none;
  background-color: #a2af77;
  margin-bottom: 10px;
  border-radius: 8px;
}
input[type="button"] {
  width: 75px;
  height: 75px;
  margin: 2px;
  color: #fff;
  border: none;
  border-radius: 8px;
  background-color: #58595b;
} */


* {
  box-sizing: border-box;
  font-size: 26;
  font-family: sans-serif;

button {
  cursor: pointer;
  outline: 0;
}

#calc {
  width: 300px;
  margin: 100px auto;
  display: grid;
  grid-template-areas:
    "c result result result"
    "seven eight nine div"
    "four five six nul"
    "one two three sub"
    "zero dot equals add";
}

#calc button,
#calc div {
  height: 75px;
  background: rgba(96, 170, 80);
  color: white;
  border: 1px solid #ccc;
}

#calc button calculator {
  background: rgba(124, 185, 111);
}

#calc button:nth-child(1) {
  grid-area: one;
}
#calc button:nth-child(2) {
  grid-area: two;
}
#calc button:nth-child(3) {
  grid-area: three;
}
#calc button:nth-child(4) {
  grid-area: four;
}
#calc button:nth-child(5) {
  grid-area: five;
}
#calc button:nth-child(6) {
  grid-area: six;
}
#calc button:nth-child(7) {
  grid-area: seven;
}
#calc button:nth-child(8) {
  grid-area: eight;
}
#calc button:nth-child(9) {
  grid-area: nine;
}
#calc button:nth-child(10) {
  grid-area: zero;
}
#calc button:nth-child(11) {
  grid-area: c;
}
#calc button:nth-child(12) {
  grid-area: dot;
}
#calc button:nth-child(13) {
  grid-area: equals;
}
#calc button:nth-child(14) {
  grid-area: plus;
}
#calc button:nth-child(15) {
  grid-area: mul;
}
#calc button:nth-child(16) {
  grid-area: min;
}
#calc button:nth-child(17) {
  grid-area: div;
}

#calc div {
  grid-area: result;
}
