html {
  box-sizing: border-box;
}

*,
* ::after,
*::before {
  box-sizing: inherit;
}
#calculator {
  display: grid;
  width: 450px;
  height: 900px;
}
.button {
  font-size: 15px;
  text-align: center;
}
.input {
  font-size: 15px;
  width: 90px;
  display: block;
}
.answer {
  background-color: rgb(242, 117, 8);
  color: black;
  border: 1px solid black;
}
